/rey/Bfh.Wba.AspNetCore/.vs/Bfh.Wba.AspNetCore/v16/
/rey/Bfh.Wba.AspNetCore/Bfh.Wba.AspNetCore.Web/obj/*
/rey/Bfh.Wba.AspNetCore/Bfh.Wba.AspNetCore.Web/bin/*
/rey/Bfh.Wba.AspNetCore/Bfh.Wba.AspNetCore.Web/obj/
/rey/Bfh.Wba.AspNetCore/Bfh.Wba.AspNetCore.Services/obj/
/rey/Bfh.Wba.AspNetCore/Bfh.Wba.AspNetCore.Services/bin/
/rey/Bfh.Wba.AspNetCore/Bfh.Wba.AspNetCore.Web/obj/
