@using Bfh.Wba.AspNetCore.Web.ViewModels
@model Tuple<KontoGruppe, string, string>

<li class="list-group-item">
	@{
		var selected = Model.Item3 != "" && Model.Item3 == Model.Item1.Id ? 
	}
	<span>@Model.Item1.Id @Model.Item1.Name </span>
	<a class="btn btn-outline-info btn-sm" href="?selectedId=@Model.Item1.Id">Select</a> <a class="btn btn-outline-info btn-sm" href="/Konto/@Model.Item2/@Model.Item1.Id">Details</a>
	@if (Model.Item1.Untergruppen != null && Model.Item1.Untergruppen.Any())
	{
		<ul class="list-group list-group-flush">
			@foreach (var vm in Model.Item1.Untergruppen.Select(kg => new Tuple<KontoGruppe, string, string>(kg, Model.Item2, Model.Item3)))
			{
				<partial name="_KontoGruppe" model="vm"/>
			}
		</ul>
	}
</li>


